<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node.js Socket.io Chat Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="row" style="margin-top: 70px;">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <div>Choose Room ID</div>
        <form id="rooms_id">
          <!-- <input type="radio" name="r_room_select" value="1" />ROOM 1<br>
          <input type="radio" name="r_room_select" value="2" />ROOM 2<br>
          <input type="radio" name="r_room_select" value="3" />ROOM 3<br>-->
          <textarea id="txt_room_name"></textarea>
          <button type="button" id="connect_btn">CONNECT</button>
          <!-- button type is important for html if type is button you must define function for it.-->
        </form>
        <br>
        <div id="current_room"></div>
        <div id="broadcast"></div>
        <div id="chatArea">
        </div>
        <form id="myForm">
          <div class="form-group">
            <textarea rows="5" id="txt" cols="5" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-sguccess">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>


    jQuery(document).ready(function () {

      var socket = io.connect();
      var form = jQuery('#myForm');
      var txt = jQuery('#txt');
      var chatArea = jQuery('#chatArea');
      var bcast = jQuery('#broadcast');
      var current_room = jQuery('#current_room');
      var txt_room_name = jQuery('#txt_room_name');

      $('#connect_btn').on('click', function () {
        // To use defined room name you can use without connect button.

        /*$('#rooms_id').on('click', function () {
          var value = $("[name=r_room_select]:checked").val();
          var room_radio = $('input:radio[name=r_room_select]:checked').val();
          socket.emit('select room', room_radio);
        });*/

        // To publish any data you must emit from client side than you can use "socket.on" function to recieve data. 
        socket.emit('select room', txt_room_name.val());

      });
      form.submit(function (e) {
        e.preventDefault();
        socket.emit('sending message', txt.val());
        socket.emit('broadcast', function (data) {

        });
        txt.val('');

      });
      
      socket.on('new message', function (data) {
        chatArea.append('<div class="well" id="colorfull-message">' + data.message + '</div>');
        random_bg_color("colorfull-message");
      });

      // Broadcast shows user count to except own.
      socket.on('broadcastMessage', function (data) {
        bcast.empty();
        bcast.append('<div class="well" id="broadcast">' + data.message + '</div>')
        random_bg_color("broadcast");
      });

      // To show room name.
      socket.on('connectToRoom', function (data) {
        current_room.empty();
        current_room.append('<div class="well">' + data.message + '</div>');


      });
    });


    function random_bg_color(id) {
      var x = Math.floor(Math.random() * 256);
      var y = Math.floor(Math.random() * 256);
      var z = Math.floor(Math.random() * 256);
      var bgColor = "rgb(" + x + "," + y + "," + z + ")";
      console.log(bgColor);
      document.getElementById(id).style.backgroundColor = bgColor;
    };

  </script>
</body>

</html>