<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node.js Socket.io Chat Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="row" style="margin-top: 70px;">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <div>Choose Room ID</div>
        <form id="rooms_id">
          <input type="radio" name="room_select" value="1" />ROOM 1<br>
          <input type="radio" name="room_select" value="2" />ROOM 2<br>
          <input type="radio" name="room_select" value="3" />ROOM 3<br>
        </form>
        <br>
        <div id="roomid"></div>
        <div id="broadcast"></div>
        <div id="chatArea">
        </div>
        <form id="myForm">
          <div class="form-group">
            <textarea rows="5" id="txt" cols="5" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>


    jQuery(document).ready(function () {
      var socket = io.connect();
      var form = jQuery('#myForm');
      var txt = jQuery('#txt');
      var chatArea = jQuery('#chatArea');
      var bcast = jQuery('#broadcast');
      var roomid = jQuery('#roomid');


      $('#rooms_id').on('click', function () {
        var value = $("[name=room_select]:checked").val();
        var room_radio = $('input:radio[name=room_select]:checked').val();
        socket.emit('select room', room_radio);




      });
      form.submit(function (e) {
        e.preventDefault();
        socket.emit('sending message', txt.val());
        socket.emit('broadcast', function (data) {

        });
        txt.val('');

      });

      socket.on('new message', function (data) {
        chatArea.append('<div class="well">' + data.message + '</div>');
      });


      socket.on('broadcastMessage', function (data) {
        bcast.empty();
        bcast.append('<div class="well">' + data.message + '</div>')
      });


      socket.on('connectToRoom', function (data) {
        roomid.empty();
        roomid.append('<div class="well">' + data.message + '</div>');


      });
    });
  </script>
</body>

</html>
